In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

In [2]:
import googlemaps

#This won't work without your google geocode API Key
gmaps = googlemaps.Client(key='')


def getCounty(location):
    county = np.NaN
    geocode_result = gmaps.geocode(location)
    if len(geocode_result)>0:
        counties = filter(lambda x: "administrative_area_level_2" in x["types"],geocode_result[0]["address_components"])
        if len(counties)>0:
            county = counties[0]["long_name"]
    return county



def getCity(location):
    city = np.NaN
    geocode_result = gmaps.geocode(location)
    if len(geocode_result)>0:
        cities = filter(lambda x: "locality" in x["types"],geocode_result[0]["address_components"])
        if len(cities)>0:
            city = cities[0]["long_name"]
    return city

In [3]:
d1 = pd.read_csv("Data\CSV\Amazon-Delivery-Station-Network-in-USA.csv")
d2 = pd.read_csv("Data\CSV\Amazon-Food-Distribution-Center-Network-in-USA.csv")
d3 = pd.read_csv("Data\CSV\Amazon-Fulfillment-Center-Network-in-USA.csv")
d4 = pd.read_csv("Data\CSV\Amazon-Inbound-Crossdock-Network-in-USA.csv")
d5 = pd.read_csv("Data\CSV\Amazon-Prime-Now-Network-in-USA.csv")
d6 = pd.read_csv("Data\CSV\Amazon-Sortation-Center-Network-in-USA.csv")

In [4]:
display(d1.head())
display(d2.head())
display(d3.head())
display(d4.head())
display(d5.head())
display(d6.head())

,State,Code,Location,Square Feet,Year Opened,Description of Operation
0,Arizona,DPX1,"500 S. 48th Street, Phoenix, Arizona, USA, 85034",-,May\r\n2015,Delivery Station for Phoenix West Valley Co-lo...
1,Arizona,DPX3,"550 E. Elliot Rd, Chandler . Arizona, USA, 85225",91.200,May\r\n2017,Delivery Station for Phoenix East Valley
2,California,DSF1,"990 Beecher St, San Leandro, California, USA, ...","42,400",September\r\n2013,Delivery Station for Oakland
3,California,DSF2,"Candlestick Park Delivery Station, San Francis...",-,September\r\n2013,Delivery Station for Bay Area
4,California,DSF3,"1700 Montague Expy, San Jose, California, USA,...","25,800",2013,Delivery Station for San Jose

,State,Code,Location,Square Feet,Year Opened,Description of Operation
0,California,ONT4/ ONT7,"2020 E. Central Ave., Building 4, San Bernardi...","514,600",October\r\n2013,Building 4 connects to Building 3 ONT4 is Amaz...
1,California,LAX6,"5119 District Blvd, Vernon, California. USA. 9...","121,100",NaN,Amazon.Fresh
2,California,OAK6,"1555 N. Chrisman Rd., Tracy, California, USA, ...",-,October\r\n2013,OAK6 is Amazon.Fresh for the San Francisco Bay...
3,California,OAK7,"38811 Cherry Street, Newark. California, USA, ...",-,November\r\n2014,OAK7 is Amazon Pantry Co-located within OAKS
4,Colorado,DEN6,"Crossroads Commerce Park, Building 2, 480 E. 5...","290,700",2017,To be confirmed as an Amazon.Fresh Distributio...

,State,Code,Location,Square Feet,Year Opened,Description of Operation
0,Arizona,PHX3,"6835 West Buckeye Road, Phoenix, Arizona, USA,...","1,009,400",September\n2007,Large Sortable & Apparel Fulfillment Center. O...
1,Arizona,PHX5,"16920 W. Commerce Dr. , Goodyear, Arizona, USA...","820,400",June\n2008,Large Non-Sortable Fulfillment Center.\nOrigin...
2,Arizona,PHX6/ TFC1,"4750 & 5050 West Mohave Street, Phoenix, Arizo...","1,205,600",October\n2010,Large Sortable Fulfillment Center in one half ...
3,Arizona,PHX7/ PHX8,"800 N. 75th Ave, Phoenix,\nArizona, USA, 85043...","267,\n100 1 .",September\n2011,PHX7 is Large Non-Sortable\nPHX8 is a Sortatio...
4,Arizona,PHX9,"777 S 79th Ave, Tolleson, Arizona, USA, 85353","580,100",October\n2015,PHX9 is a Seasonal FC

,State,Code,Location,Square Feet,Year Opened,Description of Operation
0,California,ONT8,"24300 Nandina Ave, Moreno Valley, California, ...","769,300",August\n2014,Inbound Cross Dock (IXD)
1,Illinois,MDW2,"250 Emerald Drive/401 E. Layaway Rd, Joliet, I...","475,100",October\n2015,Inbound Cross Dock (IXD)
2,Kentucky,CVG3,"3680 Langley Dr., Hebron, Kentucky, USA, 41048","711,400",July\n2007,Inbound Cross Dock (IXD)
3,New Jersey,ABE8/ TTN1,"309 Cedar Lane, Florence, New Jersey, USA, 085...","613,900",September\n2016,Inbound Cross Dock (IXD)
4,North Carolina,CLT2,"10240 Old Dowd Road, Mecklenburg, Charlotte, N...","397,800",October\n2016,Inbound Cross Dock (IXD)\nAmazon Prime Air Ser...

,State,Code,Location,Square Feet,Year Opened,Description of Operation
0,Arizona,UAZ1/ DPX1,"500 S 48th St, Phoenix, Arizona, USA, 85034","59,900",May\r\n2015,Prime Now Hub/Delivery Station for Phoenix
1,California,UCA1,"888 Tennessee Street, San Francisco, Californi...","39,000",October\r\n2016,Prime Now Hub for San Francisco
2,California,UCA2,"2400 Marine Ave, Redondo Beach, California, US...","50,000",2015,Prime Now Hub for Los Angeles
3,California,UCA3,"11800 W Olympic Blvd, Santa Monica. California...","28,800",September-15,Prime Now Hub for Santa Monica
4,California,UCA4,"2006 McGaw Ave, Irvine, California, USA, 92614","45,300",2015,"Prime Now Hub for Irvine, CA"

,State,Code,Location,Square Feet,Year Opened,Description of Operation
0,Alabama,MOBS,"6735 Trippel Road, Theodore, Alabama, USA, 36619","362,000",October\n2017,"Sortation Center for Mobile, AL"
1,Arizona,PHX8,"800 N. 75th Ave, Phoenix.\nArizona. USA, 85043...",-,October\n2010,PHX8 Square Feet is included within PHX7
2,California,OAKS,"38811 Cherry Street, Newark, California, USA, ...","574,600",November\n2014,OAKS is a Sortation Center to service the San ...
3,California,ONTS,"2020 E. Central Ave., San Bernardino, Californ...",-,October\n2013,Sortation Center for the Los Angeles region
4,California,LAXS,"6400 Valley View Street, Bueno Park, Californi...","238,300",Q3 2017,Sortation Center for the Los Angeles region

In [5]:
#add a column for type to each one 
#combine into one oframe
d1["Type"]="Delivery Station"
d2["Type"]="Fresh"
d3["Type"]="Fulfillment"
d4["Type"]="Crossdock"
d5["Type"]="Now"
d6["Type"]="Sortation"

In [6]:
d_concat = pd.concat([d1,d2,d3,d4,d5,d6])

In [7]:
print(d_concat.shape)
print (d_concat.shape)
d_concat.head()

(311, 9)
(311, 9)

,Code,Description of Operation,Location,Square Feet,Square Feet,State,Type,Year Opened,Year Opened
0,DPX1,Delivery Station for Phoenix West Valley Co-lo...,"500 S. 48th Street, Phoenix, Arizona, USA, 85034",NaN,-,Arizona,Delivery Station,NaN,May\r\n2015
1,DPX3,Delivery Station for Phoenix East Valley,"550 E. Elliot Rd, Chandler . Arizona, USA, 85225",NaN,91.200,Arizona,Delivery Station,NaN,May\r\n2017
2,DSF1,Delivery Station for Oakland,"990 Beecher St, San Leandro, California, USA, ...",NaN,"42,400",California,Delivery Station,NaN,September\r\n2013
3,DSF2,Delivery Station for Bay Area,"Candlestick Park Delivery Station, San Francis...",NaN,-,California,Delivery Station,NaN,September\r\n2013
4,DSF3,Delivery Station for San Jose,"1700 Montague Expy, San Jose, California, USA,...",NaN,"25,800",California,Delivery Station,NaN,2013

In [8]:
#get rid of weird new lines in column names
d_reset = d_concat.reset_index(drop=True)

good_cols = d_reset.columns.str.replace("\n"," ")
d_reset.columns=good_cols

In [9]:
d_reset.head()

,Code,Description of Operation,Location,Square Feet,Square Feet,State,Type,Year Opened,Year Opened
0,DPX1,Delivery Station for Phoenix West Valley Co-lo...,"500 S. 48th Street, Phoenix, Arizona, USA, 85034",NaN,-,Arizona,Delivery Station,NaN,May\r\n2015
1,DPX3,Delivery Station for Phoenix East Valley,"550 E. Elliot Rd, Chandler . Arizona, USA, 85225",NaN,91.200,Arizona,Delivery Station,NaN,May\r\n2017
2,DSF1,Delivery Station for Oakland,"990 Beecher St, San Leandro, California, USA, ...",NaN,"42,400",California,Delivery Station,NaN,September\r\n2013
3,DSF2,Delivery Station for Bay Area,"Candlestick Park Delivery Station, San Francis...",NaN,-,California,Delivery Station,NaN,September\r\n2013
4,DSF3,Delivery Station for San Jose,"1700 Montague Expy, San Jose, California, USA,...",NaN,"25,800",California,Delivery Station,NaN,2013

In [10]:
d_reset.columns

Index([u'Code', u'Description of Operation', u'Location', u'Square Feet',
       u'Square\r Feet', u'State', u'Type', u'Year Opened', u'Year\r Opened'],
      dtype='object')

In [11]:
#replace the \ns in year and then figure out how large a date range we need
#do the same thing for Location 
d_reset["Year Opened"]=d_reset["Year Opened"].str.replace("\n", " ")
d_reset["Location"]=d_reset["Location"].str.replace("\n", " ")

In [12]:
#some of them are missing years, find out which 
d_reset[d_reset["Year Opened"].str.contains("\d{4}").fillna(False)==False]

,Code,Description of Operation,Location,Square Feet,Square Feet,State,Type,Year Opened,Year Opened
0,DPX1,Delivery Station for Phoenix West Valley Co-lo...,"500 S. 48th Street, Phoenix, Arizona, USA, 85034",NaN,-,Arizona,Delivery Station,NaN,May\r\n2015
1,DPX3,Delivery Station for Phoenix East Valley,"550 E. Elliot Rd, Chandler . Arizona, USA, 85225",NaN,91.200,Arizona,Delivery Station,NaN,May\r\n2017
2,DSF1,Delivery Station for Oakland,"990 Beecher St, San Leandro, California, USA, ...",NaN,"42,400",California,Delivery Station,NaN,September\r\n2013
3,DSF2,Delivery Station for Bay Area,"Candlestick Park Delivery Station, San Francis...",NaN,-,California,Delivery Station,NaN,September\r\n2013
4,DSF3,Delivery Station for San Jose,"1700 Montague Expy, San Jose, California, USA,...",NaN,"25,800",California,Delivery Station,NaN,2013
5,DSFS,Delivery Station for South San Francisco,"250 Utah Avenue, South San Francisco, Californ...",NaN,"111,000",California,Delivery Station,NaN,June\r\n2016
6,DSF6,Delivery Station for Northeast Bay Area,"6015 Giant Road, Richmond, California, USA, 94...",NaN,"224,200",California,Delivery Station,NaN,Fall 2016
7,DSD1,Delivery Station for San Diego\r\nRelocated to...,"16550 Via Esprillo, San Diego, California, USA...",NaN,"165,600",California,Delivery Station,NaN,2013
8,DSD2,Delivery Station for San Diego,"2777 Loker Ave W, Carlsbad, California, USA, 9...",NaN,"39,700",California,Delivery Station,NaN,2013
9,DLA1,Delivery Station for Los Angeles Amazon's firs...,"900 W Florence Ave. Inglewood, California. USA...",NaN,"27,700",California,Delivery Station,NaN,May\r\n2013
10,DLA3,Delivery Station for East Los Angeles,"5829 Smithway St, Commerce, California, USA, 9...",NaN,"48,400",California,Delivery Station,NaN,June\r\n2013
11,DLA4,Delivery Station for Burbank area,"9031 Lurline Ave, Chatsworth. California, USA,...",NaN,"29,200",California,Delivery Station,NaN,June\r\n2013
12,DLAS,Delivery Station for Riverside area,"6250 Sycamore Canyon Blvd., Riverside, Califor...",NaN,"36,000",California,Delivery Station,NaN,April\r\n2016
13,DLA6,Delivery Station for Anaheim/Irvine area,"Santa Ana, California, USA",NaN,-,California,Delivery Station,NaN,March\r\n2015
14,DLA7,Delivery Station for City of Industry area,"15940 Euclid Avenue, Chino, California, USA, 9...",NaN,-,California,Delivery Station,NaN,March\r\n2017
15,DLA8,Delivery Station for Los Angeles,"2815 W. El Segundo Blvd., Hawthorne, Californi...",NaN,170.000,California,Delivery Station,NaN,July\r\n2016
16,DLA9,Delivery Station for Los Angeles May also cont...,"17871 Von Karman Ave, Irvine, California, USA,...",NaN,"187,800",California,Delivery Station,NaN,February\r\n2017
17,DMI1,Delivery Station for Miami area Co-located in ...,"15600 NW 15th Ave, Miami Gardens. Florida, USA...",NaN,-,Florida,Delivery Station,NaN,March\r\n2015
18,DMI2,Delivery/Sortation Center located next to Miam...,"3200 Northwest 67th Avenue, Miami, Florida, US...",NaN,-,Florida,Delivery Station,NaN,2017
19,DM1,Delivery Station for Orlando\r\nMay also conta...,"73 Kingspointe Pkwy, Orlando, Florida, USA, 32819",NaN,"226,000",Florida,Delivery Station,NaN,2016
20,DJA1,Delivery Station for Jacksonville area,"11084 Cabot Commerce Circle, Jacksonville, Flo...",NaN,"63,000",Florida,Delivery Station,NaN,2017
21,DAT1,Delivery Station for Atlanta area,"4800 Highlands Pkwy SE, Smyrna, Georgia, USA, ...",NaN,"114,000",Georgia,Delivery Station,NaN,August\r\n2016
22,DCH1,Delivery Station for Chicago,"2801 S. Western Ave, Chicago, Illinois, USA, 6...",NaN,"150,000",Illinois,Delivery Station,NaN,June\r\n2015
23,DCH2,Delivery Station for Chicago,"8220 Austin Ave, Morton Grove. Illinois, USA, ...",NaN,"39,300",Illinois,Delivery Station,NaN,July\r\n2015
24,DCH3,Delivery Station for Chicago,"4500 Western Ave, Lisle , Illinois, USA, 60532",NaN,"68,000",Illinois,Delivery Station,NaN,August\r\n2015
25,DCH4,Delivery Station for Chicago,"401 Terrace Dr., Mundelein. Illinois, USA, 60060",NaN,"91,000",Illinois,Delivery Station,NaN,April\r\n2017
26,DDC1,Delivery Station for Washington DC Co-located ...,"5617 Industrial Dr, Suite A, Springfield, Virg...",NaN,-,Virginia,Delivery Station,NaN,2015
27,DDC2,Delivery Station for Washington DC,"861 E Gude Drive, Rockville, Maryland, USA. 20850",NaN,"65,000",Maryland,Delivery Station,NaN,April\r\n2015
28,DB01,Delivery Station for Boston Co-located in BOS6,"201 Beacham Street, Everett (Chelsea), Massach...",NaN,-,Massachusetts,Delivery Station,NaN,June\r\n2016
29,DB02,Delivery Station for Boston,"500 Sprague St.. Dedham, Massachusetts. USA. 0...",NaN,60.500,Massachusetts,Delivery Station,NaN,August\r\n2015
...,...,...,...,...,...,...,...,...,...
240,UMD1,Prime Now Hub for Baltimore Co-located in BWIS,"5001 Holabird Ave., Baltimore, Maryland, USA, ...",NaN,-,Maryland,Now,NaN,March\r\n2015
241,UMA3,Prime Now Hub for Boston,"30 Northampton Street, Boston, Massachusetts, ...",NaN,"72,300",Massachusetts,Now,NaN,2015
242,UMI1,Prime Now Hub for Detroit Co-located in Sortat...,"Building 9, 19991 Brownstown Center Drive, Tre...",NaN,-,Michigan,Now,NaN,NaN
243,UMN1,Prime Now Hub for Minneapolis/St Paul,"763 Kasota Ave., Minneapolis, Minnesota, USA, ...",NaN,"35,000",Minnesota,Now,NaN,October\r\n2015
244,UNV1,Prime Now Hub for Las Vegas,"3650 East Post Road, Suite E, Las Vegas, Nevad...",NaN,"16,300",Nevada,Now,NaN,October\r\n2015
245,JFK7,Prime Now Hub for Manhattan,"7 W. 34th St., New York, New York, USA, 10001-...",NaN,"40,000",New York,Now,NaN,December\r\n2014
246,NaN,Prime Now Hub for Brooklyn,"850 Third Ave., Liberty View Industrial Plaza,...",NaN,-,New York,Now,NaN,December\r\n2015
247,UNJ1,Prime Now Hub for New Jersey,"940 Monroe Street, Hoboken, New Jersey, USA, 0...",NaN,"120,000",New Jersey,Now,NaN,2015
248,UNC1,Prime Now Hub for Charlotte,"300 Dalton Avenue, Charlotte, North Carolina, ...",NaN,"33,900",North Carolina,Now,NaN,December\r\n2015
249,UNC2,Prime Now Hub for Raleigh,"3200 Bush Street, Raleigh, North Carolina, USA...",NaN,"30,000",North Carolina,Now,NaN,February\r\n2016
250,U0H1,me Now Hub for Cincinnati Prime,"5845 Highland Ridge Drive, Cincinnati, Ohio, U...",NaN,"58,000",Ohio,Now,NaN,February\r\n2016
251,U0H2,"Prime Now Hub for Columbus, OH","3563 Interchange Road, Columbus, Ohio, USA, 43204",NaN,"45,700",Ohio,Now,NaN,February\r\n2016
252,UOR1,Prime Now Hub for Portland. OR,"2250 Northwest 22nd Avenue. Portland, Oregon, ...",NaN,-,Oregon,Now,NaN,August\r\n2015
253,UPA1,Prime Now Hub for Philadelphia,"4101 Sansom Street, Philadelphia, Pennsylvania...",NaN,"35,000",Pennsylvania,Now,NaN,2015
254,UTN1,Prime Now Hub for Nashville,"410 Harding Industrial Drive, Nashville, Tenne...",NaN,60.000,Tennessee,Now,NaN,2015
255,UTX1,Prime Now Hub for Dallas. TX,"2700 Regent Blvd, Irving, Texas, USA, 75063",NaN,-,Texas,Now,NaN,2015
256,UTX2,Prime Now Hub for Austin TX,"2209 B Rutland Rd, Austin, Texas, USA, 78758",NaN,45.000,Texas,Now,NaN,2015
257,UTX3/ HTX1/ HTX2/ MO,"Prime Now Hub for Houston, TX","4221 Way Out West Drive, Houston, Texas, USA, ...",NaN,"88,000",Texas,Now,NaN,October\r\n2015
258,UTX4/ TrX4,"Prime Now Hub for Fort Worth, TX","6627 Maple Avenue, Dallas. Texas, USA, 75235",NaN,"42,600",Texas,Now,NaN,2016
259,UTX5,Prime Now Hub for San Antonio TX,"4848 Perrin Creek, Suite 680, San Antonio, Tex...",NaN,"24,800",Texas,Now,NaN,November\r\n2015
260,UTX7/\r\nDDA3,Prime Now Hub for Fort Worth. TX Co-located in...,"4601 Gold Spike Drive, Fort Worth. Texas. USA,...",NaN,-,Texas,Now,NaN,October\r\n2016
261,UVA1/ DDC1,Prime Now Hub for Washington DC Co-located in ...,"5617 Industrial Dr, Suite A, Springfield, Virg...",NaN,-,Virginia,Now,NaN,2015
262,UVA2,Prime Now Hub for Chesapeake VA,"804 Greenbrier Circle, Chesapeake, Virginia, U...",NaN,"18,300",Virginia,Now,NaN,February\r\n2016
263,UVA3,"Prime Now Hub for Richmond, VA","2034 Dabney Road, Richmond. Virginia, USA, 23230",NaN,"11,900",Virginia,Now,NaN,November\r\n2015
264,UWA1/ HWA1/ HWA2,Prime Now Hub for Seattle WA,"11710 118th Ave. N.E. , Building B, Kirkland, ...",NaN,"38,300",Washington,Now,NaN,2015
265,uwA2f\r\nTVVAO,Prime Now Hub for Seattle WA,"13537 Aurora Ave. N., North\r Seattle, Washing...",NaN,"38,400",Washington,Now,NaN,2015
266,UWA3,Prime Now Hub for Seattle WA,"2121 8th Ave., Seattle , Washington, USA, 98121",NaN,18.900,Washington,Now,NaN,2015
267,UWA4/ FSE3,Prime Now Hub for Seattle WA,"76 S Lander St., Seattle ,\r Washington, USA, ...",NaN,"40,000",Washington,Now,NaN,October\r\n2016
268,UWAS,me Now Hub for Seattle WA Prime,"1926 6th Ave. S., Seattle , Washington, USA, 9...",NaN,"17,500",Washington,Now,NaN,January\r\n2016
269,UWI1,"Prime Now Hub for Milwaukee, WI Also Amazon.Fr...","4111 W Mitchell St, Milwaukee, Wisconsin, USA,...",NaN,"60800\r\n,",Wisconsin,Now,NaN,March\r\n2017

In [13]:
d_reset['County'] = np.vectorize(getCounty,otypes=[object])(d_reset["Location"])
d_reset['City'] = np.vectorize(getCity,otypes=[object])(d_reset["Location"])

In [14]:
#split out the year to new columns
d_reset["Year"] = d_reset["Year Opened"].str.extract("(\d{4})",expand=False).astype(int,errors="ignore")

In [15]:
years = d_reset["Year Opened"].str.extract("(\d{4})",expand=False).sort_values()

In [16]:
print (years.value_counts())

2017    32
2016    31
2014    25
2018    22
2015    20
2013    13
2012    10
2011     9
2010     8
2008     5
2005     4
2007     3
2019     2
2000     1
2006     1
1999     1
1997     1
Name: Year Opened, dtype: int64

In [17]:
#some of them are future openings
d_reset[d_reset["Year Opened"].str.contains("2019").fillna(False)]

,Code,Description of Operation,Location,Square Feet,Square Feet,State,Type,Year Opened,Year Opened,County,City,Year
97,BDL2,Sortable\n1.800 associates to be hired,"409 Washington Ave, North Haven. Connecticut, ...","855,000",NaN,Connecticut,Fulfillment,Spring 2019,NaN,New Haven County,North Haven,2019
163,CLT2,Large Non-Sortable,"Macedonia Church Road. Kannapolis, North Carol...","1,000,000",NaN,North Carolina,Fulfillment,2019,NaN,Cabarrus County,Concord,2019

In [18]:
#save output
d_reset.to_csv("amazon_labelled_locations.csv",index=False)

In [19]:
#what kind of nulls do we still have
#we probably don't care about null codes
#Some of the addresses that failed lookup can be fixed manually
with pd.option_context('display.max_colwidth', 150,):
    display(d_reset[d_reset["County"].isnull()][["Code","Location","County","City","Type"]])

,Code,Location,County,City,Type
3,DSF2,"Candlestick Park Delivery Station, San Francisco, California. USA, 94124",NaN,NaN,Delivery Station
28,DB01,"201 Beacham Street, Everett (Chelsea), Massachusetts, USA, 02149-5518",NaN,Chelsea,Delivery Station
36,DNY1,"New York, New York, USA",NaN,New York,Delivery Station
58,BOS6/ DB01,"201 Beacham Street, Everett (Chelsea), Massachusetts, USA, 02149-5518",NaN,Chelsea,Fresh
116,IND7,"9101 Orly Drive, Indianapolis, Indiana, USA, 46241-9605",NaN,Indianapolis,Fulfillment
126,NaN,"Route 59, Aurora, Illinois, USA, 60504",NaN,NaN,Fulfillment
142,IVSA,"4620 Olympic Blvd, Erlanger, Kentucky, USA, 41018",NaN,Erlanger,Fulfillment
143,BWIO/ BWI2,"2010 Broening Highway, Baltimore, Maryland, USA, 21224-6027",NaN,Baltimore,Fulfillment
240,UMD1,"5001 Holabird Ave., Baltimore, Maryland, USA, 21224-6026",NaN,Baltimore,Now
262,UVA2,"804 Greenbrier Circle, Chesapeake, Virginia, USA, 23320",NaN,Chesapeake,Now
276,NaN,"Airport Hub Sortation Center, Sacramento, California, USA",NaN,NaN,Sortation
287,NaN,"Airport Hub Sortation Center. Hebron, Kentucky, USA,",NaN,NaN,Sortation
288,BWI5/ UMD1,"5001 Holabird Ave., Baltimore, Maryland, USA, 21224-6026",NaN,Baltimore,Sortation

In [20]:
np.NaN

nan