In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

pd.options.display.max_rows=1000

In [18]:
import googlemaps

#This won't work without your google geocode API Key
gmaps = googlemaps.Client(key='AIzaSyAyxtjGvhqikvRnu9LeqvjJGTCG8BJlCUo') # Alex's API key


def getCounty(location):
    county = np.NaN
    geocode_result = gmaps.geocode(location)
    if len(geocode_result)>0:
        counties = filter(lambda x: "administrative_area_level_2" in x["types"],geocode_result[0]["address_components"])
        if len(counties)>0:
            county = counties[0]["long_name"]
    return county

def getCity(location):
    city = np.NaN
    geocode_result = gmaps.geocode(location)
    if len(geocode_result)>0:
        cities = filter(lambda x: "locality" in x["types"],geocode_result[0]["address_components"])
        if len(cities)>0:
            city = cities[0]["long_name"]
    return city

In [19]:
d1 = pd.read_csv("Data/CSV/Amazon-Delivery-Station-Network-in-USA.csv")
d2 = pd.read_csv("Data/CSV/Amazon-Food-Distribution-Center-Network-in-USA.csv")
d3 = pd.read_csv("Data/CSV/Amazon-Fulfillment-Center-Network-in-USA.csv")
d4 = pd.read_csv("Data/CSV/Amazon-Inbound-Crossdock-Network-in-USA.csv")
d5 = pd.read_csv("Data/CSV/Amazon-Prime-Now-Network-in-USA.csv")
d6 = pd.read_csv("Data/CSV/Amazon-Sortation-Center-Network-in-USA.csv")

In [20]:
display(d1.head())
display(d2.head())
display(d3.head())
display(d4.head())
display(d5.head())
display(d6.head())

,﻿State,Code,Location,Square Feet,Year Opened,Description of Operation
0,Arizona,DPX1,"500 S. 48th Street, Phoenix, Arizona, USA, 85034",-,May\r\n2015,Delivery Station for Phoenix West Valley Co-lo...
1,Arizona,DPX3,"550 E. Elliot Rd, Chandler . Arizona, USA, 85225",91.200,May\r\n2017,Delivery Station for Phoenix East Valley
2,California,DSF1,"990 Beecher St, San Leandro, California, USA, ...","42,400",September\r\n2013,Delivery Station for Oakland
3,California,DSF2,"Candlestick Park Delivery Station, San Francis...",-,September\r\n2013,Delivery Station for Bay Area
4,California,DSF3,"1700 Montague Expy, San Jose, California, USA,...","25,800",2013,Delivery Station for San Jose

,﻿State,Code,Location,Square Feet,Year Opened,Description of Operation
0,California,ONT4/ ONT7,"2020 E. Central Ave., Building 4, San Bernardi...","514,600",October\r\n2013,Building 4 connects to Building 3 ONT4 is Amaz...
1,California,LAX6,"5119 District Blvd, Vernon, California. USA. 9...","121,100",NaN,Amazon.Fresh
2,California,OAK6,"1555 N. Chrisman Rd., Tracy, California, USA, ...",-,October\r\n2013,OAK6 is Amazon.Fresh for the San Francisco Bay...
3,California,OAK7,"38811 Cherry Street, Newark. California, USA, ...",-,November\r\n2014,OAK7 is Amazon Pantry Co-located within OAKS
4,Colorado,DEN6,"Crossroads Commerce Park, Building 2, 480 E. 5...","290,700",2017,To be confirmed as an Amazon.Fresh Distributio...

,﻿State,Code,Location,Square Feet,Year Opened,Description of Operation
0,Arizona,PHX3,"6835 West Buckeye Road, Phoenix, Arizona, USA,...","1,009,400",September\n2007,Large Sortable & Apparel Fulfillment Center. O...
1,Arizona,PHX5,"16920 W. Commerce Dr. , Goodyear, Arizona, USA...","820,400",June\n2008,Large Non-Sortable Fulfillment Center.\nOrigin...
2,Arizona,PHX6/ TFC1,"4750 & 5050 West Mohave Street, Phoenix, Arizo...","1,205,600",October\n2010,Large Sortable Fulfillment Center in one half ...
3,Arizona,PHX7/ PHX8,"800 N. 75th Ave, Phoenix,\nArizona, USA, 85043...","267,\n100 1 .",September\n2011,PHX7 is Large Non-Sortable\nPHX8 is a Sortatio...
4,Arizona,PHX9,"777 S 79th Ave, Tolleson, Arizona, USA, 85353","580,100",October\n2015,PHX9 is a Seasonal FC

,﻿State,Code,Location,Square Feet,Year Opened,Description of Operation
0,California,ONT8,"24300 Nandina Ave, Moreno Valley, California, ...","769,300",August\n2014,Inbound Cross Dock (IXD)
1,Illinois,MDW2,"250 Emerald Drive/401 E. Layaway Rd, Joliet, I...","475,100",October\n2015,Inbound Cross Dock (IXD)
2,Kentucky,CVG3,"3680 Langley Dr., Hebron, Kentucky, USA, 41048","711,400",July\n2007,Inbound Cross Dock (IXD)
3,New Jersey,ABE8/ TTN1,"309 Cedar Lane, Florence, New Jersey, USA, 085...","613,900",September\n2016,Inbound Cross Dock (IXD)
4,North Carolina,CLT2,"10240 Old Dowd Road, Mecklenburg, Charlotte, N...","397,800",October\n2016,Inbound Cross Dock (IXD)\nAmazon Prime Air Ser...

,﻿State,Code,Location,Square Feet,Year Opened,Description of Operation
0,Arizona,UAZ1/ DPX1,"500 S 48th St, Phoenix, Arizona, USA, 85034","59,900",May\r\n2015,Prime Now Hub/Delivery Station for Phoenix
1,California,UCA1,"888 Tennessee Street, San Francisco, Californi...","39,000",October\r\n2016,Prime Now Hub for San Francisco
2,California,UCA2,"2400 Marine Ave, Redondo Beach, California, US...","50,000",2015,Prime Now Hub for Los Angeles
3,California,UCA3,"11800 W Olympic Blvd, Santa Monica. California...","28,800",September-15,Prime Now Hub for Santa Monica
4,California,UCA4,"2006 McGaw Ave, Irvine, California, USA, 92614","45,300",2015,"Prime Now Hub for Irvine, CA"

,﻿State,Code,Location,Square Feet,Year Opened,Description of Operation
0,Alabama,MOBS,"6735 Trippel Road, Theodore, Alabama, USA, 36619","362,000",October\n2017,"Sortation Center for Mobile, AL"
1,Arizona,PHX8,"800 N. 75th Ave, Phoenix.\nArizona. USA, 85043...",-,October\n2010,PHX8 Square Feet is included within PHX7
2,California,OAKS,"38811 Cherry Street, Newark, California, USA, ...","574,600",November\n2014,OAKS is a Sortation Center to service the San ...
3,California,ONTS,"2020 E. Central Ave., San Bernardino, Californ...",-,October\n2013,Sortation Center for the Los Angeles region
4,California,LAXS,"6400 Valley View Street, Bueno Park, Californi...","238,300",Q3 2017,Sortation Center for the Los Angeles region

In [21]:
#add a column for type to each one 
#combine into one oframe
d1["Type"]="Delivery Station"
d2["Type"]="Fresh"
d3["Type"]="Fulfillment"
d4["Type"]="Crossdock"
d5["Type"]="Now"
d6["Type"]="Sortation"

In [22]:
# The concat was getting messed up because the columns were different
good_columns = d1.columns.str.replace("\n"," ").str.replace("\r","")
d1.columns = good_columns
d2.columns = good_columns
d3.columns = good_columns
d4.columns = good_columns
d5.columns = good_columns
d6.columns = good_columns

In [23]:
d_concat = pd.concat([d1,d2,d3,d4,d5,d6])

In [24]:
print(d_concat.shape)
print (d_concat.shape)
d_concat.head()

(311, 7)
(311, 7)

,﻿State,Code,Location,Square Feet,Year Opened,Description of Operation,Type
0,Arizona,DPX1,"500 S. 48th Street, Phoenix, Arizona, USA, 85034",-,May\r\n2015,Delivery Station for Phoenix West Valley Co-lo...,Delivery Station
1,Arizona,DPX3,"550 E. Elliot Rd, Chandler . Arizona, USA, 85225",91.200,May\r\n2017,Delivery Station for Phoenix East Valley,Delivery Station
2,California,DSF1,"990 Beecher St, San Leandro, California, USA, ...","42,400",September\r\n2013,Delivery Station for Oakland,Delivery Station
3,California,DSF2,"Candlestick Park Delivery Station, San Francis...",-,September\r\n2013,Delivery Station for Bay Area,Delivery Station
4,California,DSF3,"1700 Montague Expy, San Jose, California, USA,...","25,800",2013,Delivery Station for San Jose,Delivery Station

In [25]:
## Don't need this processing now

#get rid of weird new lines in column names
# d_reset = d_concat.reset_index(drop=True)

# good_cols = d_reset.columns.str.replace("\n"," ").str.replace("\r","")
# d_reset.columns=good_cols

d_reset = d_concat.reset_index(drop=True)

In [26]:
# Clean up entries
d_reset["Year Opened"] = d_reset["Year Opened"].str.replace('\r','')
d_reset["Year Opened"] = d_reset["Year Opened"].str.replace('\n',' ')
d_reset["Year Opened"] = d_reset["Year Opened"].str.strip()


d_reset["Location"] = d_reset["Location"].str.replace('\r','')
d_reset["Location"] = d_reset["Location"].str.replace('\n',' ')

d_reset["Description of Operation"] = d_reset["Description of Operation"].str.replace('\r','')
d_reset["Description of Operation"] = d_reset["Description of Operation"].str.replace('\n',' ')

d_reset["Code"] = d_reset["Code"].str.replace('\r','')
d_reset["Code"] = d_reset["Code"].str.replace('\n','')
d_reset["Code"] = d_reset["Code"].str.replace(' ','')

d_reset["Square Feet"] = d_reset["Square Feet"].str.replace('\n','')
d_reset["Square Feet"] = d_reset["Square Feet"].str.replace('\r','')
d_reset["Square Feet"] = d_reset["Square Feet"].str.replace('.','')
d_reset["Square Feet"] = d_reset["Square Feet"].str.replace(',','')
d_reset["Square Feet"] = d_reset["Square Feet"].replace('-',np.nan)

In [27]:
d_reset.iloc[73]["Square Feet"] = 1267100
d_reset.iloc[99]["Square Feet"] = 1035000
d_reset.iloc[220]["Year Opened"] = "September 2015"
d_reset.iloc[227]["Year Opened"] = "September 2015"

In [30]:
d_reset['County'] = np.vectorize(getCounty,otypes=[object])(d_reset["Location"])
d_reset['City'] = np.vectorize(getCity,otypes=[object])(d_reset["Location"])

In [99]:
#some of them are missing years, find out which 
display(d_reset[d_reset["Year Opened"].str.contains("\d{4}").fillna(False)==False])

#split out the year to new columns
d_reset["Year"] = d_reset["Year"].str.extract("(\d{4})",expand=False)

,﻿State,Code,Location,Square Feet,Year Opened,Description of Operation,Type,County,City,Year
50,California,LAX6,"5119 District Blvd, Vernon, California. USA. 9...",121100,NaN,Amazon.Fresh,Fresh,Los Angeles County,Vernon,NaN
242,Michigan,UMI1,"Building 9, 19991 Brownstown Center Drive, Tre...",NaN,NaN,Prime Now Hub for Detroit Co-located in Sortat...,Now,Wayne County,Brownstown Charter Township,NaN

In [100]:
d_reset["Year"].value_counts()

2016    68
2015    66
2017    50
2014    29
2013    26
2018    24
2012    10
2011     9
2010     8
2008     5
2007     4
2005     4
2019     2
2000     1
2006     1
1999     1
1997     1
Name: Year, dtype: int64

In [101]:
#some of them are future openings
display(d_reset[d_reset["Year Opened"].str.contains("2019").fillna(False)].head())
display(d_reset[d_reset["Year Opened"].str.contains("2018").fillna(False)].head())

,﻿State,Code,Location,Square Feet,Year Opened,Description of Operation,Type,County,City,Year
97,Connecticut,BDL2,"409 Washington Ave, North Haven. Connecticut, ...",855000,Spring 2019,Sortable 1.800 associates to be hired,Fulfillment,New Haven County,North Haven,2019
163,North Carolina,CLT2,"Macedonia Church Road. Kannapolis, North Carol...",1000000,2019,Large Non-Sortable,Fulfillment,Cabarrus County,Concord,2019

,﻿State,Code,Location,Square Feet,Year Opened,Description of Operation,Type,County,City,Year
63,Texas,NaN,"Fallbrook Pines Business Park, Houston, Texas,...",197900,2018,Amazon.Fresh Distribution Center,Fresh,Harris County,Houston,2018
69,Wisconsin,MKE7,"Burlington, Wisconsin, USA",NaN,2018,Amazon Pantry for Milwaukee TBD,Fresh,Racine County,Burlington,2018
82,California,NaN,"Goodman Commerce Center, Antu-Galleano Ranch R...",1000000,2018,Large Non-Sortable,Fulfillment,Riverside County,Eastvale,2018
86,California,NaN,"Near Stockton Metro Airport, Stockton, Califor...",600000,2018,Large Non-Sortable 1000 associates,Fulfillment,San Joaquin County,Stockton,2018
93,California,NaN,"South Orange Avenue near Central Avenue, Fresn...",855000,July 2018,Sortable,Fulfillment,Fresno County,Fresno,2018

In [97]:
# Fixes almost all of the null county / city issues

# This is where candlestick park is
d_test.iloc[3]["County"] = "San Francisco County"
d_test.iloc[3]["City"] = "San Francisco"

# API got confused by '(Chealsea)'
d_test.iloc[28]["County"] = "Middlesex County"
d_test.iloc[28]["City"] = "Everett"

# Pretty sure this warehouse is in Manhattan
d_test.iloc[36]["County"] = "New York County"
d_test.iloc[36]["City"] = "New York City"

# API got confused by '(Chealsea)'
d_test.iloc[58]["County"] = "Middlesex County"
d_test.iloc[58]["City"] = "Everett"

# All of indianapolis is in Marion
d_test.iloc[116]["County"] = "Marion County"

# Bad address, but all of route 59 in aurora is in DuPage County
# http://www.businesswire.com/news/home/20161219006336/en/Amazon-Expand-Illinois-Fulfillment-Centers-1000-Full-Time
d_test.iloc[126]["County"] = "DuPage County"
d_test.iloc[126]["City"] = "Aurora"

# Warehouse is JUST outside the edge of Shepherdsville
d_test.iloc[140]["County"] = "Bullitt County"
d_test.iloc[140]["City"] = "Shepherdsville"

# Again, the warehouse is right on the border
d_test.iloc[142]["County"] = "Kenton County"
d_test.iloc[142]["City"] = "Erlanger"

# This one seems like it's technically in Denver, but the address is in Aurora.
# There's also two counties that cover Aurora, but the point is in Adams
d_test.iloc[229]["County"] = "Adams County"
d_test.iloc[229]["City"] = "Aurora"

# Warehouse is in Metro Air Park, near the Sacramento Airport
d_test.iloc[276]["County"] = "Sacramento County"
d_test.iloc[276]["City"] = "Sacramento"

# This is the sortation center that houses 229
d_test.iloc[277]["County"] = "Adams County"
d_test.iloc[277]["City"] = "Aurora"

# Hebron technically isn't a city, but it's definitely in Boone County
d_test.iloc[287]["County"] = "Boone County"
d_test.iloc[287]["City"] = "Hebron"

# Make city = New York City for anything in the 5 boroughs
d_test.iloc[162]["City"] = "New York City"
d_test.iloc[245]["City"] = "New York City"
d_test.iloc[246]["City"] = "New York City"

# Gouldsboro is a "village"
d_test.iloc[173]["City"] = "Gouldsboro"

In [105]:
# Baltimore and Chesapeake are not part of any counties (they're independent cities)
with pd.option_context('display.max_colwidth', 150,):
    display(d_reset[d_reset["County"].isnull()][["Code","Location","County","City","Type"]])
    display(d_reset[d_reset["City"].isnull()][["Code","Location","County","City","Type"]])

,Code,Location,County,City,Type
143,BWIO/BWI2,"2010 Broening Highway, Baltimore, Maryland, USA, 21224-6027",NaN,Baltimore,Fulfillment
240,UMD1,"5001 Holabird Ave., Baltimore, Maryland, USA, 21224-6026",NaN,Baltimore,Now
262,UVA2,"804 Greenbrier Circle, Chesapeake, Virginia, USA, 23320",NaN,Chesapeake,Now
288,BWI5/UMD1,"5001 Holabird Ave., Baltimore, Maryland, USA, 21224-6026",NaN,Baltimore,Sortation

Empty DataFrame
Columns: [Code, Location, County, City, Type]
Index: []

In [108]:
# Save cleaned data to file
d_reset.to_csv("Data/CSV/amazon_labelled_locations.csv",index=False)